<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SportLife Coach Booking</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/authenticated">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/authenticated">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="active"><a href="/authenticated/coaches">Coaches</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>SportLife Coach Booking</h1>
    <p>Service for online coach booking</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--Need to insert photo ( question )-->

            <!--<div th:icon="${coach.photo}"></div>-->
        
        </div>
        <div class="col-sm-8">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Rank</th>
                    <th>Date Of Birth</th>
                    <th>Hour price</th>
                    <th>Last Name</th>
                    <th>Info</th>
                </tr>
                <tr>
                    <!--/*@thymesVar id="coach" type="net.sportlife.model.coach.CoachEntity"*/-->
                    <td th:text="${coach.coachName}"></td>
                    <td th:text="${coach.coachRank}"></td>
                    <td th:text="${coach.dateOfBirth}"></td>
                    <td th:text="${coach.hourPrice}"></td>
                    <td th:text="${coach.lastName}"></td>
                    <td th:text="${coach.externalInformation}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>